# My First Program in R

In [1]:
2 * 3 # Multiplication

[1] 6

In [2]:
4 - 1 # Subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to the variable a
a + 2  # Adding 2

[1] 3

In [5]:
# Creating a dataframe
df = data.frame(Emp_Name = c('Jai', 'David', 'Micheal'),
                Job_role = c('Manager', 'Team Lead', 'Developer')  
               )

print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team Lead
3  Micheal Developer